html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    font-family: fresno-inline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    margin-bottom: 25px;
    margin-left:50px;
    margin-right:50px;
    line-height:.95;
    color: white;
    }

p{
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height:1.5;
    color: white;

}

 button {
     width: 210px;
     height:40px;
     border-radius: 25px;
     border: none;
     font-family: ubuntu, sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 13px;
     color: white;
 }



.green{
    background-color: #55BD98;
}

.yellow{
    background-color: #FDBC08;
}

section {
    padding-top:60px;
    padding-bottom: 80px;
}

.header{
    background-color: #B74125;
    height: 125px;
    width: 100%;
}

.header .left{
    width: 49%;
    height:125px;
    float:left;
}

.header .left img{
    padding-top: 25px;
    padding-left: 40px;
    width: 75px;
    height: 75px;
}

.header .right{
    width: 40%;
    height: 75px;
    padding: 25px;
    padding-right: 40px;
    float: right;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-areas: "home about contact image";
    justify-content: end;
}


.header .right img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 37px;
}

.intro{
    width:100%;
    height: 650px;
    background-color: #B74125;
    padding-top:0px;
    padding-bottom: 0px;
}

.intro .left{
    width:48%;
    float:left;
    padding-top: 75px;
}

.intro .right{
    width:52%;
    float:right;
}

.intro .right p{
    margin-bottom: 20px;
    margin-right: 100px;
}

.intro .right h1{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top:25px;
}

.intro .left img{
    width:525px;
    padding-left: 25px;
}

.arrow{
    text-align: center;
    animation: slide 1s infinite;
}

.arrow img{
    width: 50px;
    margin-top:25px;
}

@keyframes slide{
    0% {
        transform : translate(0px, 0px);
    }

    50%{
        transform : translate(0px, 10px);
    }

    100%{
        transform : translate(0px, 0px);
    }

}

.arrow:hover{
    translate: (0, 10px);
}

.ux_design{
    width: 100%;
    background-color: #FDBC08;
}

.ux_design h1{
    margin-top: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 25px;
    width: 300px;
    height: 350px;
    background-color: rgb( 255, 255, 255, .7);
    margin-right:25px;
    margin-left: 25px;
}

.card img{
    padding-top:40px;
    padding-left:35px;
    padding-right:35px;
    padding-bottom:10px;
    width:230px;
}

.card p {
    text-align: center;
    padding-right:0;
    color: black;   
}

.skills .card {
    margin-bottom:25px;
}

.graphic_design{
    width:100%;
    background-color: #55BD98;
}

.graphic_design h1{
    margin-top: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

.about_intro{
    width:100%;
    height: auto;
    background-color: #B74125;
    padding-top:20px;
    padding-bottom:80px;
}

.about_intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
}
.about_intro h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom:10;
}

.about_intro p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.experience{
    width: 100%;
    background-color: #FDBC08;
}

.experience h1{
    margin-top: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}


.experience .card{
    height:auto;
    width: 610px;
    padding:40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

.experience .card p{
line-height:1.2;
text-align: left;
margin-bottom: 10px;
}


#name{
    font-weight: 700;
    font-family: ubuntu, sans-serif;
}

.skills{
    width:100%;
    background-color: #55BD98;
}

.skills h1{
        margin-top: 0;
        padding: 0;
        line-height: 1;
        text-align: center;
}

.footer {
    background-color: #B74125;
    height: 125px;
    width: 100%;
}

.footer .left {
    width: 35%;
    height:125px;
    float:left;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-areas: "home about contact";
    justify-content: start;
    padding-left:30px;
}

.footer .right{
    width:49%;
    height: 125;
    float: right;
    display: grid;
    grid-template-columns: 240px 75px;
    grid-template-areas: "button image";
    justify-content: end;
    align-content: center;
    margin-right: 25px;
}

footer .right img{
    width: 30px;
    height: 30px;
    padding-top: 45px;
}



.home{
    grid-area: home;
    padding-top:50px;
    padding-bottom:5px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height:1.5;
    color: white;
}



.about{
    grid-area: about;
    padding-top:50px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height:1.5;
    color: white;
}

.contact{
    grid-area: contact;
    padding-top:50px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height:1.5;
    color:white;
}

.image{
    grid-area: image;
}

.footer .button{
    margin-top: 42.5px;
    grid-area:button;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: 5px solid #FDBC08;
}

.active{
    border-bottom: 5px solid #FDBC08;
}

@media (max-width: 1100px) {

    h1 {
        font-size: 160px;
    }

    p{
        font-size: 15px;
    }

    .intro{
        height: 1050px;
    }

    .intro h1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top:10px;
    }
    
    .intro .left{
        width:100%;
        padding-top: 15px;
        text-align: center;
    }
    .intro .left img{
        width:450px; 
    }

    .intro .right{
        width:100%;
        text-align: center;
    }


    .intro .right p{
        width:550px;
        text-align:left;
        padding-bottom: 15px;
        padding-right: 0px;
        margin-right: auto;
        margin-left: auto;
    }

 .button button {
        margin-left: auto;
        margin-right: auto;
    }


    
    .card {
 
        width: 200px;
        height: 250px;
        background-color: rgb( 255, 255, 255, .7);
        margin-right:15px;
        margin-left: 15px;
    }

    .experience .card {
        width:550px;
    }

    .card img{
        padding-top:30px;
        padding-left:25px;
        padding-right:25px;
        padding-bottom:10px;
        width:150px;
    }

}

@media (max-width: 750px) {
    
    h1{
        font-size: 100px;
        }

    p{
        font-size:14px;
    }

    .intro{
        width:100%;
        height: 850px;
        background-color: #B74125;
        padding-top:0px;
        padding-bottom: 0px;
    }
    
    .intro .right{
        width:100%
    }
    
    .intro .left{
        width:100%;
        padding-top: 30px;
    }


    .intro h1 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top:10px;
    }
    .intro .right p{
        width:300px;
        padding-bottom: 15px;
        padding-right: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .intro .left img{
        width:350px;
        padding-left: 0;
        padding-right: 0; 
    }

    .green {
        margin-left: 36%;
        margin-right: auto;
    }

    .flex{
        display:block;
    }
    
    .card {
        border-radius: 25px;
        width: 300px;
        height: 350px;
        background-color: rgb( 255, 255, 255, .7);
        margin-right:auto;
        margin-left: auto;
    }

    .experience .card {
        width: 250px;
    }

    .ux_design .card {
        margin-bottom:25px;
    }

    .graphic_design .card {
        margin-bottom:25px;
    }

    .card img{
        padding-top:40px;
        padding-left:35px;
        padding-right:35px;
        padding-bottom:10px;
        width:230px;
    }

}